@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 80px 0;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.encabezado{
    /* color: #e96f6f; */
    color: #000000;
    top: 0;
    left: 0;
    height: 80px;
    font-weight: bold;
    transition: 0.7s;
    /* border: 1px solid red; */
    /* background-color: #293241; */
    z-index: 10;
    position: fixed;
    width: 100%;
}

.encabezado.abajo{
    background-color: #293241;
    padding: 15px;
    color: #e96f6f;
}

.encabezado.abajo .nav__item{
    color: #eb6d05;
}

.nav__logo{
    font-weight: 900;
    font-size: 1.5em;
}

.encabezado-container{
    display: flex; /*Para que vaya en linea, osea seguido*/
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
}

.nav-menu{
    display: grid;
    grid-auto-flow: column;
    gap: 1.7em;
    transition: 0.7s;
}

.nav__item{
    transition: 0.7s;
    /* color: #eb6d05; */
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    overflow: hidden;
}


/* ul{
    display: flex;
    list-style: none;
    overflow: hidden;
    font-size: 20px;
}

li{
    margin: 20px 10px;
}

a{
    text-decoration: none;
    color: #00ff6a;
} */

.nav__label, .nav__input{
    display: none;
}


.container-imagenes{
    display: grid;
    grid-area: auto;
    grid-template-columns: repeat(4fr, 20px);
    grid-template-areas: 
    "img1 img1 img2 img2"
    "img1 img1 img2 img2"
    "img3 img3 img4 img4"
    "img3 img3 img4 img4";
}

img{
    width: 100%;
    object-fit: cover;
}

.img1{
    grid-area: img1;
}
.img2{
    height: 100%;
    grid-area: img2;
}
.img3{
    height: 100%;
    grid-area: img3;
}
.img4{
    grid-area: img4;
}

.informacion{
    text-align: justify;
    justify-content: center;
}

.info__name{
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.info__container{
    width: 100%;
    padding: 40px 0 0;
    display: grid;
    background-color: #ffffff;
    grid-template-rows: repeat(4,500px);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "text1 img1"
    "img2 text2"
    "text3 img3"
    "img4 text4";
}

.info__image{
    background-image: url('./desktop/Hotel-Casa-Hacienda-San-Jose-Chincha-fachada.jpg');
    background-size: cover; /*Para que se ajuste a la pag*/
    background-position: center;
    grid-area: img1;
}

.info__texts{
    padding: 2rem 3rem;
    place-self: center;
    text-align: start;
    grid-area: text1;
}

.info__title{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
}

.info__paragraph{
    line-height: 1.5;
    margin: 1.5rem 0;
}

.info__image--2{
    background-image: url('./desktop/La_Centinela_Sector_VIII.png');
    grid-area: img2;
}

.info__image--3{
    background-image: url('./desktop/518282247_acc61ca221_z.jpg');
    grid-area: img3;
}

.info__image--4{
    background-image: url('./desktop/79c57eb0-6785-429a-b46c-9f20c7ac4fe8.jpg');
    grid-area: img4;
}


.info__texts--2{
    grid-area: text2;
}

.info__texts--3{
    grid-area: text3;
}
.info__texts--4{
    grid-area: text4;
}

.about{
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.about__img{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.about__title{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: .6em;
    text-transform: uppercase;
}

.about__paragraph{
    line-height: 1.7;
    margin-bottom: 1em;
}

.about__cta{
    display: inline-block;
    color: #004b04;
    line-height: 2.5;
    text-decoration: none;
    border-bottom: 1px solid #65e2d9;
}

.about__arrow{
    margin-left: .3em;
    vertical-align: middle;
    width: min-content;
}

.festividades{
    text-align: center;
    padding-bottom: 20px;
}
.festividades__title{
    font-size: 2rem;
    margin-bottom: .6em;
    letter-spacing: 2px;
    text-transform: uppercase;   
    font-family: 'Raleway', sans-serif;
}

.festividades__container{
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5em;
}

.festividades__item{
    width: 40%;
}

/* .festividades__picture{
    height: 200px;
} */

.festividades__img{
    width: 200px;
    height: 180px;
    border-radius: 5%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.festividades__name{
    margin-top: 1.4em;
    margin-bottom: 1em;
    font-family: 'Fraunces', serif;
}

.comida{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.comida__img{
    object-fit: cover;
    border-radius: 5%;
}

.comida__title{
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.comida__container{
    margin-bottom: 10px;
    padding: 40px 0 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.comida__name{
    margin-top: .7rem;
    font-family: 'Fraunces', serif;
}

.comida__paragraph{
    margin: .8rem 0;
    line-height: 1.5;
}

.opinion{
    text-align: center;
    padding: 40px 0 80px;
}

.opinion__container{
    margin: 0 auto;
    padding: 0;
    gap: 6rem;
}

.opinion__title{
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.card{
    color: #ffffff;
    display: flex;
    gap: 2.5em;
    padding: 60px 0;
}

.card__item{
    background-color: #202a3c;
    width: 90%;
    padding: 40px 20px;
    margin: 0 auto;
    text-align:start;
    border-radius: 4px;
    box-shadow: 1px 1px 10px -5px rgb(255, 255, 255, .5);
}

.card__profile{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    gap: .5em;
}

.card__picture{
    width: 40px;
    height: 40px;
}

.card__img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card__name{
    font-size: 1.2rem;
    font-family: 'Fraunces', serif;
}

.card__place{
    color: #aaa9aa;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 350px;
}

.gallery__image{
    width: 100%;
    background-image: url('./desktop/JRGQQIGU5BC6VHRNQ2PZIOMFQM.jpg');
    background-size: cover;
    background-position: center;
}

.gallery__image:nth-of-type(2){
    background-image: url('./desktop/andina2.jpg');
}

.gallery__image:nth-of-type(3){
    background-image: url('./desktop/8221522949_bab92602e4_z.jpg');
}

.gallery__image:nth-of-type(4){
    background-image: url('./desktop/portada\ _1_.jpg');
}

.footer{
    background-color: #f1853c;
    text-align: center;
}

.footer__logo{
    width: 200px;
}

.footer__nav{
    width: 90%;
    max-width: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem ;
}

.footer__link{
    color: #202a3c;
    text-decoration: none;
    padding: 2rem 0 5rem;
}

.footer__social{
    display: grid;
    grid-auto-flow: column;
    /* border: 1px solid red; */
    grid-auto-columns: max-content;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* .footer__media{
    /* border: 1px solid red;
} */

/*Para el boton*/
.btn-scrolltop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    /*Podemos modificar el tamaño
    o directamente el padding: */
    /* padding: 15px 20px; */
    background: #ff5e00;
    color: #fff;
    border: 1px solid #ffffff00;
    border-radius: 100%;
    cursor: pointer;
    /*Para que vaya hacia abajo y no se vea*/
    transform: translateY(100px);
    /* Tambien podemos usar un scale*/
    /* transform: scale(0); */
    /*Para cuando aparezca y desaparezca le damos esta transicion*/
    transition: 0.3s;
}
/*Para hacer que vuelva cuando baje el scroll,
contrastando con el translateY(100px) o el scale (0) de arriba*/
.btn-scrolltop-on{
    transform: translateY(0);
    /* transform: scale(1); */
}



@media (max-width:768px) {

    .container{
        padding: 80px 0;
        width: 100%;
        margin: 0 auto;
        min-width: 768px;
    }

    .nav__logo{
        font-size: 30px;
    }

    .nav-menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #808bf05e;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav__label{
        display: block;
        cursor: pointer ;
    }

    .nav__item{
        font-size: 40px;
    }


    .nav__input:checked + .nav-menu{
        clip-path: circle(100% at center);
        /* background: tomato; */
    }

    .container-imagenes{
        grid-template-columns: repeat(2, 383px);
        grid-template-areas: 
        "img1 img2"
        "img1 img2"
        "img3 img4"
        "img3 img4";
    }

    .about{
        margin: 0 auto;
        display: block;
    }

    .about__texts{
        padding: 0 20px;
    }

    .about__title{
        font-size: 3rem;
        margin-top: .7em;
    }

    .about__paragraph{
        font-size: 20px;
    }

    .about__cta{
        font-size: 20px;
    }

    .info__name{
        font-size: 3rem;
        min-width: 768px;
    }

    .info__container{
        /* padding: 80px 0;
        width: 100%;
        margin: 0 auto; */
        /* grid-template-rows: repeat(4,500px);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "text1 img1"
    "img2 text2"
    "text3 img3"
    "img4 text4"; */
        min-width: 768px;
        grid-template-rows: repeat(4,250px 400px);
        grid-template-columns: auto;
        grid-template-areas: 
        "img1 img1"
        "text1 text1"
        "img2 img2"
        "text2 text2"
        "img3 img3"
        "text3 text3"
        "img4 img4"
        "text4 text4";
    }

    .info__texts{
        padding: 1rem 1.5rem;
        text-align: center;
    }

    .info__title{
        text-align: center;
        font-size: 2.5rem;
    }

    .info__paragraph{
        font-size: 20px;
    }

    .festividades__container{
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        justify-content: center;
        align-items: center;
        gap: 5em;
    }

    .festividades__item{
        width: 100%;
    }

    .festividades__title{
        font-size: 3rem;
    }

    .festividades__img{
        width: 300px;
        height: 100%;
    }

    .festividades__name{
        margin-top: .8em;
        margin-bottom: .5em;
        font-size: 2.5rem;
    }
    
    .festividades__paragraph{
        font-size: 20px;
    }

    .comida__container{
        grid-template-columns: none;
        display: grid;
        gap: 4rem;
        justify-content: center;
        align-items: center;
    }

    .comida__title{
        font-size: 3rem;
    }

    .comida__img{
        width: 300px;
        height: 100%; 
    }

    .comida__name{
        margin-bottom: .2em;
        font-size: 2.5rem;
    }

    .comida__paragraph{
        padding: 0 32px;
        font-size: 20px;
        margin: 1.5rem 0;
    }

    .opinion__title{
        margin-bottom: 1em;
        font-size: 3rem;
    }

    .card{
        flex-direction: column;
        padding: 1em 4em;
    }

    .card__item{
        padding: 1.5em 1em;
    }

    .card__paragraph{
        font-size: 20px;
    }

    .gallery{
        min-width: 768px;
        grid-template-columns: repeat(2,1fr);
    }

    .gallery__image{
        aspect-ratio: 1/1;
    }

    .footer{
        min-width: 768px;
    }

    .footer__nav{
        
        gap: unset;
    }

    .footer__link{
        padding: 1.5rem 0 3rem;
    }
}



